/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3.Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:focus {
  outline: thin dotted; }
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently IE 6/7, Firefox 3+, Safari 5, and Chrome
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }
img.logo_bg {
  /* Set up proportionate scaling */
  height: 100%; }

/**
 * index.html
 */
.logo {
  position: fixed;
  top: 8%;
  width: 18%;
  height: 23%;
  text-align: center; }

.header_text {
  position: fixed;
  top: 24%;
  left: 18%;
  width: 48%;
  height: 45px;
  line-height: 45px;
  background-color: #403835;
  padding-left: 9%;
  font-size: 21pt;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }

/**
 * template.html
 */
.header {
  position: fixed;
  top: 0;
  height: 20%;
  width: 71%; }
  .header .menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #eee;
    background-color: #28201D;
    height: 50px; }
    .header .menu ul {
      height: 30px;
      line-height: 30px;
      padding-top: 10px;
      list-style-type: none; }
      .header .menu ul li {
        letter-spacing: 6px;
        font-size: 17pt;
        text-align: center;
        float: left; }
        .header .menu ul li.link_head {
          width: 33%; }
        .header .menu ul li.link {
          width: 20%;
          border-right: 2px solid #fff; }
        .header .menu ul li.link:last-child, .header .menu ul li.last {
          border: 0; }
        .header .menu ul li.last {
          border: 0; }
        .header .menu ul li a {
          text-decoration: none;
          color: #eee; }
        .header .menu ul li a.active {
          color: #6B5E4B; }

.body {
  position: fixed;
  top: 20%;
  height: 57%;
  width: 71%; }
  .body .content {
    margin-left: 25.3%;
    background-color: #fff;
    min-height: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    padding-left: 60px; }
    .body .content .header {
      position: relative;
      font-size: 21pt;
      font-weight: bold;
      height: 50px;
      line-height: 50px;
      padding: 40px 0 40px 0; }
    .body .content .message {
      font-size: 18pt;
      padding-right: 20px;
      line-height: 40px; }

/**
 * footer
 */
#footer {
  position: fixed;
  bottom: 0;
  height: 23%;
  width: 100%; }
  #footer .left {
    float: left;
    width: 18%;
    height: 100%;
    background-color: #413936;
    padding-top: 2%;
    text-align: center; }
    #footer .left .image {
      width: 50%;
      margin: 0 auto; }
  #footer .right {
    position: relative;
    float: left;
    width: 82%;
    height: 100%;
    background-color: #eee; }
    #footer .right .top {
      margin-top: 10px; }
      #footer .right .top .right_link {
        width: 35%;
        float: right; }
        #footer .right .top .right_link ul {
          list-style-type: none; }
          #footer .right .top .right_link ul li {
            padding-left: 80px;
            height: 30px;
            line-height: 30px;
            font-size: 15pt;
            color: #eee;
            font-weight: bold;
            letter-spacing: 4px;
            -moz-border-radius-topleft: 8px;
            -webkit-border-top-left-radius: 8px;
            border-top-left-radius: 8px;
            -moz-border-radius-bottomleft: 8px;
            -webkit-border-bottom-left-radius: 8px;
            border-bottom-left-radius: 8px; }
            #footer .right .top .right_link ul li a {
              text-decoration: none;
              color: #eee; }
            #footer .right .top .right_link ul li.mail {
              background: #00a7c1 url("../images/icon/mail.png") no-repeat 8px center; }
            #footer .right .top .right_link ul li.facebook {
              margin-top: 10px;
              background: #00a7c1 url("../images/icon/facebook.png") no-repeat 18px center; }
      #footer .right .top .main_link {
        float: right;
        width: 16%; }
        #footer .right .top .main_link ul {
          list-style-type: none; }
          #footer .right .top .main_link ul li {
            height: 30px;
            line-height: 30px;
            font-size: 16pt;
            color: #323232;
            font-weight: bold;
            letter-spacing: 4px;
            padding-left: 5px;
            margin-top: 10px; }
            #footer .right .top .main_link ul li a {
              text-decoration: none;
              color: #323232; }
            #footer .right .top .main_link ul li:first-child {
              margin-top: 0px; }
            #footer .right .top .main_link ul li.active {
              background: url("../images/icon/item.png") no-repeat right center; }
            #footer .right .top .main_link ul li:hover {
              background: #403835 url("../images/icon/item.png") no-repeat right center;
              color: #fff;
              filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
              opacity: 0.8;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              -ms-border-radius: 8px;
              -o-border-radius: 8px;
              border-radius: 8px;
              /* fix IE and chrome hover */ }
              #footer .right .top .main_link ul li:hover a {
                color: #fff; }
      #footer .right .top .right_1 {
        margin-right: 8%; }
      #footer .right .top .right_2 {
        margin-right: 13%; }
    #footer .right .bottom {
      position: absolute;
      bottom: 0;
      z-index: 100;
      width: 100%;
      height: 15px;
      line-height: 15px;
      background-color: #746D67;
      color: #222;
      font-size: 0.8em;
      font-weight: bold; }
      #footer .right .bottom .text {
        text-align: right;
        padding-right: 20px; }
