/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3.Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:focus {
  outline: thin dotted; }
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently IE 6/7, Firefox 3+, Safari 5, and Chrome
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif"; }

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }

.block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff; }

/**
 * index.html
 */
.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  height: 29%; }

.logo_bg {
  position: absolute;
  right: 0;
  bottom: 0; }

.header_text {
  position: fixed;
  left: 18%;
  height: 7%;
  background-color: #372E2A;
  padding-left: 6%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9; }
  .header_text div {
    font-size: 16pt;
    letter-spacing: 4px;
    color: #fff; }

.header_position_1 {
  width: 13%;
  top: 12%; }

.header_position_2 {
  width: 25%;
  top: 22%; }

/**
 * template.html
 */
.header {
  position: fixed;
  top: 0;
  height: 20%;
  width: 64%; }
  .header .menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #372E2A;
    height: 30%; }
    .header .menu .left {
      float: left;
      font-size: 13.5pt;
      text-align: center;
      width: 28.12%;
      letter-spacing: 4px; }
    .header .menu .right {
      float: right;
      width: 62.5%;
      height: 100%; }
    .header .menu ul {
      list-style-type: none; }
      .header .menu ul li {
        letter-spacing: 6px;
        font-size: 13.5pt;
        text-align: left;
        float: left;
        width: 30%; }
        .header .menu ul li.link {
          border-left: 2px solid #534741;
          padding-left: 5px; }
        .header .menu ul li a {
          text-decoration: none;
          color: #fff; }
        .header .menu ul li a.active {
          color: #C7B299; }

.body {
  position: fixed;
  top: 20%;
  left: 18%;
  height: 100%;
  width: 46%; }
  .body .content {
    background-color: #fff;
    min-height: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    padding-left: 13.04%; }
    .body .content .header {
      position: relative;
      font-size: 13.5pt;
      padding-top: 10%;
      padding-bottom: 10%;
      letter-spacing: 4px; }
    .body .content .message {
      font-size: 10.5pt;
      color: #1A1A1A;
      padding-right: 50px;
      line-height: 40px;
      letter-spacing: 4px; }
  .body .room {
    min-height: 100%;
    height: 100%; }
    .body .room .blank {
      height: 12px;
      width: 100%;
      background-color: #fff;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      opacity: 0.8; }
    .body .room .menu {
      color: #fff;
      background-color: #372E2A;
      padding-left: 13.04%; }
      .body .room .menu ul {
        list-style-type: none; }
        .body .room .menu ul li {
          letter-spacing: 4px;
          font-size: 13.5pt;
          text-align: left;
          float: left;
          width: 30%; }
          .body .room .menu ul li.link {
            border-left: 2px solid #534741;
            padding-left: 5px; }
          .body .room .menu ul li a {
            text-decoration: none;
            color: #fff; }
          .body .room .menu ul li a.active {
            color: #C7B299; }
    .body .room .content {
      padding-top: 3%;
      padding-right: 3%;
      padding-left: 13.04%;
      height: 100%;
      min-height: 100%;
      background-color: #fff;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      opacity: 0.8; }
    .body .room .header_menu {
      position: relative;
      float: left;
      font-size: 13.5pt;
      height: 56px;
      text-align: left;
      width: 120px;
      vertical-align: bottom;
      color: #1A1A1A; }
      .body .room .header_menu span {
        position: absolute;
        bottom: 0;
        letter-spacing: 4px; }
    .body .room ul.image_menu {
      float: right; }
      .body .room ul.image_menu li {
        position: relative;
        width: auto;
        float: left;
        padding-left: 10px;
        overflow: hidden;
        width: 56px;
        height: 56px; }
    .body .room .message {
      font-size: 10.5pt;
      padding-top: 10%;
      line-height: 40px;
      letter-spacing: 4px; }

/**
 * contract
 */
.contact {
  position: fixed;
  bottom: 22%;
  left: 18%;
  width: 58%;
  height: 64%;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9; }
  .contact .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 68%;
    height: 100%;
    text-align: center; }
    .contact .left img {
      vertical-align: middle; }
  .contact .right {
    position: absolute;
    right: 2%;
    bottom: 3%;
    width: 30%;
    height: 93.75%;
    background-color: #6A9438;
    color: #fff; }
    .contact .right .message {
      padding: 20px 20px; }
      .contact .right .message h3 {
        font-size: 12pt;
        padding: 10px 0;
        letter-spacing: 2px; }
      .contact .right .message p {
        font-size: 10pt;
        padding: 4px 0;
        line-height: 25px;
        letter-spacing: 4px; }

/**
 * facebook
 */
.facebook_page {
  position: fixed;
  bottom: 31%;
  left: 18%;
  width: 29%;
  height: 55%;
  padding-left: 6%;
  background-color: #222;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9; }
  .facebook_page .message {
    color: #fff;
    padding-top: 36%; }
    .facebook_page .message p {
      font-size: 10.5pt;
      padding-bottom: 10px;
      line-height: 30px;
      letter-spacing: 4px; }

/**
 * footer
 */
/*$main_link_height: (110-$footer_top*4)3;*/
#footer {
  position: fixed;
  bottom: 0;
  height: 16%;
  width: 100%;
  background-color: #FFFCF3; }
  #footer .left {
    float: left;
    width: 18%;
    height: 100%;
    background-color: #6A9438;
    text-align: center;
    font-size: 12pt;
    color: #fff;
    letter-spacing: 4px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    cursor: pointer; }
  #footer .right {
    float: right;
    width: 76%; }
    #footer .right .main_link {
      float: left;
      width: 12.52%; }
      #footer .right .main_link ul {
        list-style-type: none; }
        #footer .right .main_link ul li {
          font-size: 10.5pt;
          color: #000;
          letter-spacing: 4px; }
          #footer .right .main_link ul li a {
            text-decoration: none;
            color: #000; }
          #footer .right .main_link ul li:first-child {
            margin-top: 0px; }
          #footer .right .main_link ul li:first {
            margin-top: 0px; }
          #footer .right .main_link ul li.active {
            background: url("../images/icon/item.png") no-repeat right center;
            color: #736357; }
          #footer .right .main_link ul li:hover {
            background: url("../images/icon/item.png") no-repeat right center;
            color: #736357; }
    #footer .right .right_1 {
      margin-right: 13.78%; }
    #footer .right .right_link {
      float: right;
      width: 31.5%; }
      #footer .right .right_link ul {
        list-style-type: none; }
        #footer .right .right_link ul li {
          font-size: 11pt;
          color: #fff;
          letter-spacing: 4px;
          padding-left: 40px; }
          #footer .right .right_link ul li.mail {
            background: #c69c6d url("../images/icon/mail.png") no-repeat 8px center; }
            #footer .right .right_link ul li.mail:hover {
              background-color: #FF6600; }
          #footer .right .right_link ul li.facebook {
            height: 7%;
            background: #ff786d url("../images/icon/facebook.png") no-repeat 18px center; }
            #footer .right .right_link ul li.facebook:hover {
              background-color: #FF6600; }
          #footer .right .right_link ul li a {
            text-decoration: none;
            color: #fff; }
