@import "normalize";
@import "compass/reset";
@import "compass/css3";

img {
    &.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
    }

    &.logo_bg {
        /* Set up proportionate scaling */
        height: 100%;
    }
}

/**
 * index.html
 */ 
.logo {
    position: fixed;
    top: 8%;
    width: 18%;
    height: 23%;
    text-align: center;
}

.header_text {
    position: fixed;
    top: 24%;
    left: 18%;
    width: 48%;
    height: 45px;
    line-height: 45px;
    background-color: #372E2A;
    padding-left: 9%;
    font-size: 21pt;
    color: #fff;
    @include opacity(0.95);
    @include border-radius(8px);
}

/**
 * template.html
 */

.header {
    position: fixed;
    top: 0;
    height: 20%;
    width: 71%;
    .menu {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #fff;
        background-color: #372E2A;
        height: 50px;
        @include border-corner-radius(top, right, 8px);
        ul {
            height: 30px;
            line-height: 30px;
            padding-top: 10px;
            list-style-type: none;
            li {
                letter-spacing: 6px;
                font-size: 17pt;
                text-align: center;
                float: left;
                &.link_head {
                    width: 33%;
                }
                &.link {
                    width: 20%;
                    border-right: 2px solid #fff;
                }
                &.link:last-child, &.last {
                    border: 0;
                }
                &.last {
                    border: 0;
                }
                a {
                    text-decoration: none;
                    color: #eee;
                }
                a.active {
                    color: #C7B299;
                }
            }
        }
    }
}

.body {
    position: fixed;
    top: 20%;
    height: 57%;
    width: 71%;
    .content {
        margin-left: 25.3%;
        background-color: #fff;
        min-height: 100%;
        @include opacity(0.75);
        padding-left: 60px;
        .menu {
            margin-left: -60px;
            color: #fff;
            background-color: #372E2A;
            height: 50px;
            text-align: center;
            ul {
                height: 30px;
                line-height: 30px;
                padding-top: 10px;
                list-style-type: none;
                text-align: center;
                li {
                    letter-spacing: 6px;
                    font-size: 17pt;
                    text-align: center;
                    float: left;
                    &.link {
                        width: 33%;
                        border-right: 2px solid #fff;
                    }
                    &.link:last-child, &.last {
                        border: 0;
                    }
                    &.last {
                        border: 0;
                    }
                    a {
                        text-decoration: none;
                        color: #eee;
                    }
                    a.active {
                        color: #C7B299;
                    }
                }
            }        
        }
        .header {
            position: relative;
            font-size: 21pt;
            font-weight: bold;
            height: 50px;
            line-height: 50px;
            padding: 40px 0;
        }
        .message {
            font-size: 18pt;
            padding-right: 20px;
            line-height: 40px;
        }
    }
    .room {
        margin-left: 25.3%;
        background-color: #fff;
        @include opacity(0.75);
        padding-left: 60px;
        padding-top: 20px;
        min-height: 100%;
        .menu {
            margin-left: -60px;
            margin-bottom: 20px;
            color: #fff;
            background-color: #372E2A;
            @include opacity(1);
            height: 50px;
            text-align: center;
            ul {
                height: 30px;
                line-height: 30px;
                padding-top: 10px;
                list-style-type: none;
                text-align: center;
                li {
                    letter-spacing: 6px;
                    font-size: 17pt;
                    text-align: center;
                    float: left;
                    &.link {
                        width: 33%;
                        border-right: 2px solid #fff;
                    }
                    &.link:last-child {
                        border: 0;
                    }
                    &.last {
                        border: 0;
                    }
                    a {
                        text-decoration: none;
                        color: #eee;
                    }
                    a.active {
                        color: #C7B299;
                    }
                }
            }        
        }
        .header {
            position: relative;
            font-size: 24pt;
            font-weight: bold;
            height: 100px;
            line-height: 100px;
            float: left;
            width: auto;
        }
        ul.sub_menu {
            li {
                position: relative;
                width: auto;
                float: left;
                padding-left: 10px;
                overflow: hidden;
                width: 100px;
                height: 70px;
            }
        }
        .message {
            font-size: 18pt;
            padding-right: 20px;
            line-height: 40px;
        }    
    }
    &.contact {
        top: 12%;
        min-height: 60%;
        width: 100%;
        .left {
            float: left;
            width: 71%;
            min-height: 100%;
            background-color: #fff;
            @include opacity(0.8);
            text-align: center;
            img {
                padding-top: 50px;
            }   
        }
        .right {
            float: left;
            min-width: 29%;
            min-height: 100%;
            background-color: #28201D;
            color: #fff;
            .message {
                padding: 20px 40px;
                h3 {
                    font-size: 1.6em;
                    padding: 10px 0;
                }
                p {
                    font-size: 1.4em;
                    padding: 10px 0;
                }
            }
        }  
    }
    &.facebook {
        top: 0;
        left: 18%;
        min-height: 100%;
        background-color: #000;
        @include opacity(0.5);
        width: 53%;
        .message {
            padding-left: 10%;
            padding-top: 23%;
            color: #fff;
            h3 {
                font-size: 2em;
                padding-bottom: 20px;
            }
            p {
                font-size: 1.4em;
                padding: 20px 0;
            }
        }
    }
}



/**
 * footer
 */ 
#footer {
    position: fixed;
    bottom: 0;
    height: 23%;
    width: 100%;
    .left {
        float: left;
        width: 18%;
        height: 100%;
        background-color: #372E2A;
        padding-top: 2%;
        text-align: center;
        @include opacity(0.95);
        .image {
            width: 50%;
            margin: 0 auto;
        }
    }

    .right {
        position: relative;
        float: left;
        width: 82%;
        height: 100%;
        background-color: #eee;
        .top {
            margin-top: 10px;
            .right_link {
                width: 35%;
                float: right;
                ul {
                    list-style-type: none;
                    li {
                        padding-left: 80px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 15pt;
                        color: #eee;
                        font-weight: bold;
                        letter-spacing: 4px;
                        @include border-corner-radius(top, left, 8px);
                        @include border-corner-radius(bottom, left, 8px);
                        a {
                            text-decoration: none;
                            color: #eee;
                        }
                        &.mail {
                            background: #00A7C1 url('../images/icon/mail.png') no-repeat 8px center;
                        }
                        &.facebook {
                            margin-top: 10px;
                            background: #00A7C1 url('../images/icon/facebook.png') no-repeat 18px center;
                        }
                        &:hover {
                            background-color: #FF6600;
                        }
                    }
                }
            }
            .main_link {
                float: right;
                width: 16%;
                ul {
                    list-style-type: none;
                    li {
                        a {
                            text-decoration: none;
                            color: #323232;
                        }
                        height: 30px;
                        line-height: 30px;
                        font-size: 16pt;
                        color: #323232;
                        font-weight: bold;
                        letter-spacing: 4px;
                        padding-left: 5px;
                        margin-top: 10px;
                        &:first-child {
                            margin-top: 0px;
                        }
                        &.active {
                            background: url('../images/icon/item.png') no-repeat right center;
                        }
                        &:hover {
                            background: #403835 url('../images/icon/item.png') no-repeat right center;
                            color: #666;
                            @include opacity(0.8);
                            @include border-radius(8px);
                            /* fix IE and chrome hover */
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .right_1 {
                margin-right: 8%;
            }
            .right_2 {
                margin-right: 13%;
            }
        }
        .bottom {
            position: absolute;
            bottom: 0;
            z-index: 100;
            width: 100%;
            height: 15px;
            line-height: 15px;
            background-color: #534741;
            color: #222;
            font-size: 0.8em;
            font-weight: bold;
            @include opacity(0.8);
            .text {
                text-align: right;
                padding-right: 20px;
            }
        }
    }
}
