@import "normalize";
@import "compass/reset";
@import "compass/css3";

$letter-spacing-message: 4px;
$menu-width: 30%;

body {
    font-family:"微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";
}

img {
    &.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
    }
}

.block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

/**
 * index.html
 */
.logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 29%;
}

.logo_bg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.header_text {
    position: fixed;
    left: 18%;
    height: 7%;
    background-color: #372E2A;
    padding-left: 6%;
    @include opacity(0.90);
    div {
        font-size: 16pt;
        letter-spacing: $letter-spacing-message;
        color: #fff;
    }
}

.header_position_1 {
    width: 13%;
    top: 12%;
}

.header_position_2 {
    width: 25%;
    top: 22%;
}

/**
 * template.html
 */

.header {
    position: fixed;
    top: 0;
    height: 20%;
    width: 64%;
    .menu {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #fff;
        background-color: #372E2A;
        height: 30%;
        .left {
            float: left;
            font-size: 13.5pt;
            text-align: center;
            width: 28.12%;
            letter-spacing: $letter-spacing-message;
        }
        .right {
            float: right;
            width: 62.5%;
            height: 100%;
        }
        ul {
            list-style-type: none;
            li {
                letter-spacing: 6px;
                font-size: 13.5pt;
                text-align: left;
                float: left;
                width: $menu-width;
                &.link {
                    border-left: 2px solid #534741;
                    padding-left: 5px;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                }
                a.active {
                    color: #C7B299;
                }
            }
        }
    }
}

.body {
    position: fixed;
    top: 20%;
    left: 18%;
    height: 100%;
    width: 46%;
    .content {
        background-color: #fff;
        min-height: 100%;
        @include opacity(0.80);
        padding-left: 13.04%;
        .header {
            position: relative;
            font-size: 13.5pt;
            padding-top: 10%;
            padding-bottom: 10%;
            letter-spacing: $letter-spacing-message;
        }
        .message {
            font-size: 10.5pt;
            color: #1A1A1A;
            padding-right: 50px;
            line-height: 40px;
            letter-spacing: $letter-spacing-message;
        }
    }
    .room {
        min-height: 100%;
        height: 100%;
        .blank {
            height: 12px;
            width: 100%;
            background-color: #fff;
            @include opacity(0.80);
        }
        .menu {
            color: #fff;
            background-color: #372E2A;
            padding-left: 13.04%;
            ul {
                list-style-type: none;
                li {
                    letter-spacing: $letter-spacing-message;
                    font-size: 13.5pt;
                    text-align: left;
                    float: left;
                    width: $menu-width;
                    &.link {
                        border-left: 2px solid #534741;
                        padding-left: 5px;
                    }
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                    a.active {
                        color: #C7B299;
                    }
                }
            }
        }

        .content {
            padding-top: 3%;
            padding-right: 3%;
            padding-left: 13.04%;
            height: 100%;
            min-height: 100%;
            background-color: #fff;
            @include opacity(0.80);
        }
        .header_menu {
            position: relative;
            float:left;
            font-size: 13.5pt;
            height: 56px;
            text-align: left;
            width: 120px;
            vertical-align: bottom;
            color: #1A1A1A;
            span {
                position: absolute;
                bottom: 0;
                letter-spacing: $letter-spacing-message;
            }
        }
        ul.image_menu {
            float: right;
            li {
                position: relative;
                width: auto;
                float: left;
                padding-left: 10px;
                overflow: hidden;
                width: 56px;
                height: 56px;
            }
        }
        .message {
            font-size: 10.5pt;
            padding-top: 10%;
            line-height: 40px;
            letter-spacing: $letter-spacing-message;
        }
    }
}

/**
 * contract
 */

.contact {
    position: fixed;
    bottom: 22%;
    left: 18%;
    width: 58%;
    height: 64%;
    background-color: #fff;
    @include opacity(0.9);
    .left {
        float: left;
        width: 70%;
        height: 100%;
        text-align: center;
        img {
            vertical-align: middle;
        }
    }
    .right {
        position: absolute;
        right: 2%;
        bottom: 3%;
        width: 30%;
        height: 93.75%;
        background-color: #6A9438;
        color: #fff;
        .message {
            padding: 20px 20px;
            h3 {
                font-size: 12pt;
                padding: 10px 0;
                letter-spacing: $letter-spacing-message;
            }
            p {
                font-size: 10pt;
                padding: 5px 0;
                line-height: 30px;
                letter-spacing: $letter-spacing-message;
            }
        }
    }
}

/**
 * facebook
 */

.facebook_page {
    position: fixed;
    bottom: 31%;
    left: 18%;
    width: 29%;
    height: 55%;
    padding-left: 6%;
    background-color: #222;
    @include opacity(0.9);
    .message {
        color: #fff;
        padding-top: 36%;
        p {
            font-size: 10.5pt;
            padding-bottom: 10px;
            line-height: 30px;
            letter-spacing: $letter-spacing-message;
        }
    }
}

/**
 * footer
 */

/*$main_link_height: (110-$footer_top*4)3;*/

#footer {
    position: fixed;
    bottom: 0;
    height: 16%;
    width: 100%;
    background-color: #FFFCF3;
    .left {
        float: left;
        width: 18%;
        height: 100%;
        background-color: #6A9438;
        text-align: center;
        font-size: 12pt;
        color: #fff;
        letter-spacing: $letter-spacing-message;
        @include opacity(0.90);
        cursor: pointer;
    }

    .right {
        float: right;
        width: 76%;
        .main_link {
            float: left;
            width: 12.52%;
            ul {
                list-style-type: none;
                li {
                    a {
                        text-decoration: none;
                        color: #000;
                    }
                    font-size: 10.5pt;
                    color: #000;
                    letter-spacing: $letter-spacing-message;
                    &:first-child {
                        margin-top: 0px;
                    }
                    &:first {
                        margin-top: 0px;
                    }
                    &.active {
                        background: url('../images/icon/item.png') no-repeat right center;
                        color: #736357;
                    }
                    &:hover {
                        background: url('../images/icon/item.png') no-repeat right center;
                        color: #736357;
                    }
                }
            }
        }
        .right_1 {
            margin-right: 13.78%;
        }
        .right_link {
            float: right;
            width: 31.5%;
            ul {
                list-style-type: none;
                li {
                    font-size: 11pt;
                    color: #fff;
                    letter-spacing: $letter-spacing-message;
                    padding-left: 40px;
                    &.mail {
                        background: #C69C6D url('../images/icon/mail.png') no-repeat 8px center;
                        &:hover {
                            background-color: #FF6600;
                        }
                    }
                    &.facebook {
                        height: 7%;
                        background: #FF786D url('../images/icon/facebook.png') no-repeat 18px center;
                        &:hover {
                            background-color: #FF6600;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}


